{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<!-- Banner -->
<div class="sec-banner bg0">
    <div class="flex-w flex-c-m">
        {% for category in categories|slice:":3"%}
        <div class="size-202 m-lr-auto respon4">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
                <img src="{{ category.image.url }}" alt="IMG-BANNER">

                <a href="{% url 'shop' %}"
                   class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								{{ category.name }}
							</span>

                        <span class="block1-info stext-102 trans-04">
								Bahor 2024
							</span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Xaridni boshlang
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Mahsulotlar
            </h3>
        </div>
        <!-- Tab panes -->
        <div class="tab-content p-t-50">
            <!-- - -->
            <div class="tab-pane fade show active" role="tabpanel">
                <!-- Slide2 -->
                <div class="wrap-slick2">
                    <div class="slick2">
                        {% for p in products%}
                        <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <img src="{{ p.image.url }}" alt="IMG-PRODUCT">

                                    <a href="{% url 'product_detail' p.slug %}"
                                       class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Ko'rish
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="{% url 'product_detail' p.slug %}"
                                           class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            {{ p.name }}
                                        </a>

                                        <span class="stext-105 cl3">
													${{ p.price }}
												</span>
                                    </div>

                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        {% if request.user.is_authenticated %}
                                        <a href="{% url 'add_to_wishlist' p.slug %}"
                                           class="btn-addwish-b2 dis-block pos-relative">
                                            <img class="icon-heart1 dis-block trans-04"
                                                 src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                            {% else %}
                                            <a href="javascript:void(0);"
                                               onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                               class="btn-addwish-b2 dis-block pos-relative">
                                                <img class="icon-heart1 dis-block trans-04"
                                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                                {% endif %}
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                     src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Bizning Bloglarimiz
            </h3>
        </div>

        <div class="row">
            {% for b in blogs|slice:":3" %}
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="{% url 'blog_detail' b.slug %}">
                            <img src="{{ b.image.url }}" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										Muallif
									</span>

									<span class="cl5">
										 {{ b.author }}
									</span>
								</span>

                            <span>
									<span class="cl4">
										/
									</span>

									<span class="cl5">
										{{ b.date }}
									</span>
								</span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="{% url 'blog_detail' b.slug %}" class="mtext-101 cl2 hov-cl1 trans-04">
                                {{ b.title }}
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            {{ b.content|truncatewords_html:15 }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock main %}

{% block model %}
<!--<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">-->
<!--    <div class="overlay-modal1 js-hide-modal1"></div>-->

<!--    <div class="container">-->
<!--        <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">-->
<!--            <button class="how-pos3 hov3 trans-04 js-hide-modal1">-->
<!--                <img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">-->
<!--            </button>-->

<!--            <div class="row">-->
<!--                <div class="col-md-6 col-lg-7 p-b-30">-->
<!--                    <div class="p-l-25 p-r-30 p-lr-0-lg">-->
<!--                        <div class="wrap-slick3 flex-sb flex-w">-->
<!--                            <div class="wrap-slick3-dots"></div>-->
<!--                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>-->

<!--                            <div class="slick3 gallery-lb">-->
<!--                                <div class="item-slick3 js-image" data-thumb="{{ product.image.url }}">-->
<!--                                    <div class="wrap-pic-w pos-relative js-image">-->
<!--                                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT" class="js-image">-->

<!--                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 js-image"-->
<!--                                           href="{{ product.image.url }}">-->
<!--                                            <i class="fa fa-expand"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="item-slick3" data-thumb="{{ product.image1.url }}">-->
<!--                                    <div class="wrap-pic-w pos-relative js-image1">-->
<!--                                        <img src="{{ product.image1.url }}" alt="IMG-PRODUCT" class="js-image1">-->

<!--                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 js-image1"-->
<!--                                           href="{{ product.image1.url }}">-->
<!--                                            <i class="fa fa-expand"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="item-slick3 js-image2" data-thumb="{{ product.image2.url }}">-->
<!--                                    <div class="wrap-pic-w pos-relative js-image2">-->
<!--                                        <img src="{{ product.image2.url }}" alt="IMG-PRODUCT" class="js-image2">-->
<!--                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 js-image2"-->
<!--                                           href="{{ product.image2.url }}">-->
<!--                                            <i class="fa fa-expand"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-6 col-lg-5 p-b-30">-->
<!--                    <div class="p-r-50 p-t-5 p-lr-0-lg">-->
<!--                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">-->

<!--                        </h4>-->

<!--                        <span class="mtext-106 cl2 js-price-detail">-->
<!--								${{ product.price }}-->
<!--							</span>-->

<!--                        <p class="stext-102 cl3 p-t-23 js-description-detail">-->
<!--                            {{ product.description }}-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div> &lt;!&ndash;Qo'shilmagan&ndash;&gt;-->
{% endblock model %}