{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}


{% block slidebar %}

{% endblock slidebar %}


{% block main %}




<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="{{ user_profile.photo.url }}" alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                            <h5>{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                            <p>@{{ user.username }}</p>
                            <a href="{% url 'user_profile_edit' user.username %}"><i class="zmdi zmdi-edit"></i></a>
                             <a href="{% url 'logout' %}" style="color: white; margin-left: 10px;"><i class="zmdi zmdi-power"></i></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Umumiy ma'lumot</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Telegranm</h6>
                                        <p class="text-muted">{{user_profile.telegram}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Telefon raqam</h6>
                                        <p class="text-muted">{{ user_profile.phone }}</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}