{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}


{% block slidebar %}

{% endblock slidebar %}

{% block main %}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140 mt-5">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Barcha mahsulotlar
                </button>
                {% for category in categories %}
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{ category.slug }}">
                    {{ category.name }}
                </button>
                {% endfor %}
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Izlash
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
                           placeholder="Search">
                </div>
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <!--Sort uchun-->
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Turlari
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="{% url 'shop' %}" class="filter-link stext-106 trans-04">
                                    Barchasi
                                </a>
                            </li>
                        </ul>

                        <ul>
                            {% for sort in sorts %}
                            <li class="p-b-6">
                                <a href="{% url 'products_sort' sort.slug %}" class="filter-link stext-106 trans-04">
                                    {{ sort.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--Narx uchun-->
                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Narx
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="{% url 'shop' %}"
                                   class="filter-link stext-106 trans-04 filter-link-active">
                                    Barchasi
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products_0_50' %}" class="filter-link stext-106 trans-04">
                                    $0.00 - $50.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products_50_100' %}" class="filter-link stext-106 trans-04">
                                    $50.00 - $100.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products_100_150' %}" class="filter-link stext-106 trans-04">
                                    $100.00 - $150.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products_150_200' %}" class="filter-link stext-106 trans-04">
                                    $150.00 - $200.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="{% url 'products_200_plus' %}" class="filter-link stext-106 trans-04">
                                    $200.00+
                                </a>
                            </li>
                        </ul>
                    </div>  <!--Active degan joyida ishi bor -->
                    <!--Rang uchun-->
                    <div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Ranglar
                        </div>

                        <ul>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
									</span>
                                <a href="{% url 'shop' %}" class="filter-link stext-106 trans-04">
                                    Barchasi
                                </a>
                            </li>
                            {% for color in colors %}
                            <li class="p-b-6">
        <span class="fs-15 lh-12 m-r-6"
              style="color: {% if color.name == 'Qora' %}#000{% elif color.name == 'Qizil' %}#ff0000{% elif color.name == 'Moviy' %}#00DDF3{% elif color.name == 'Yashil' %}#008000{% elif color.name == 'Kulrang' %}#800080{% elif color.name == 'Oq' %}#ffffff{% endif %};">
            <i class="zmdi zmdi-circle"></i>
        </span>
                                <a href="{% url 'product_color' color.slug %}" class="filter-link stext-106 trans-04">
                                    {{ color.name }}
                                </a>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>
                    <!--Brend uchun-->
                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Brend
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            <a href="{% url 'shop' %}"
                               class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Barchasi
                            </a>
                            {% for brand in brands %}
                            <a href="{% url 'product_brand' brand.slug %}"
                               class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                {{ brand.name }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            {% if products %}
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_sort %}
            {% for product in products_sort %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if product_brand %}
            {% for product in product_brand %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_color %}
            {% for product in products_color %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_50 %}
            {% for product in products_50 %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_100 %}
            {% for product in products_100 %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_150 %}
            {% for product in products_150 %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_200 %}
            {% for product in products_200 %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            {% if products_plus %}
            {% for product in products_plus %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ product.category.slug }}">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                        <a href="{% url 'product_detail' product.slug %}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Ko'rish
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{% url 'product_detail' product.slug %}"
                               class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{ product.name }}
                            </a>

                            <span class="stext-105 cl3">
									${{ product.price }}
								</span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_wishlist' product.slug %}"
                               class="btn-addwish-b2 dis-block pos-relative">
                                <img class="icon-heart1 dis-block trans-04"
                                     src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                {% else %}
                                <a href="javascript:void(0);"
                                   onclick="alert('Siz ro\'yxatdan o\'tmagansiz!');"
                                   class="btn-addwish-b2 dis-block pos-relative">
                                    <img class="icon-heart1 dis-block trans-04"
                                         src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                    {% endif %}
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                         src="{% static 'images/icons/icon-heart-02.png' %}"
                                         alt="ICON">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


        </div>
        <div class="flex-c-m flex-w w-full p-t-45">
            <div class="flex-c-m w-half">
                {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}"
                   class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04"
                   style="margin-right: 10px;">Oldingisiga qaytish</a>
                {% endif %}
            </div>
            <div class="flex-c-m w-half">
                {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}"
                   class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">Ko'proq ko'rish</a>
                {% endif %}
            </div>
        </div>


    </div>
</div>
{% endblock main %}